.ng-scope {
  height: 100%;
}

.navHeading {
  padding: 10px;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

.navItem {
  text-transform: none;
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  border-radius: 0px !important;
}

.titleHeading {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}